Backup/
Release/
Debug/
UpgradeLog.htm
WinAdventure.v12.suo
WinAdventure.sdf
WinAdventure.opensdf

contents.xcworkspacedata
UserInterfaceState.xcuserstate
MacAdventure.xcscheme
xcschememanagement.plist
/ipch/winadventure-effc340e

mac/MacAdventure.xcodeproj/xcuserdata/rantonucci.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

mac/MacAdventure.xcodeproj/xcuserdata/rantonucci.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
pc/ipch/WINADVENTURE-905bcbbf/WINADVENTURE-658880a2.ipch
pc/adventure.log
pc/WinAdventure.VC.db
