Backup/
Release/
Debug/
UpgradeLog.htm
WinAdventure.v12.suo
WinAdventure.sdf
WinAdventure.opensdf

xcuserdata
contents.xcworkspacedata
UserInterfaceState.xcuserstate
MacAdventure.xcscheme
xcschememanagement.plist
/ipch/winadventure-effc340e


pc/ipch/WINADVENTURE-905bcbbf/WINADVENTURE-658880a2.ipch
pc/adventure.log
pc/*Adventure*.VC.db
pc/*Adventure*.VC.VC.opendb
