.starting-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .starting-modal-dialog {
    background-color: rgb(205, 205, 205);
    width: 50vw;
    height: 25vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .starting-modal-dialog h2 {
    margin: 0;
  }
    
  .starting-modal-dialog ul {
    list-style-type: '';
  }

  .starting-modal-dialog img {
    width: 5%;
  }

  