.lobby-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: yellow;
  border: 2.5vw solid rgb(107, 100, 255); /* 40px purple border around the container */
}

.lobby-main::before {
  content: '';
  position: absolute;
  height: 5vh;
  top: 0;
  left: 50%;
  width: 64px;
  background-color: rgb(205, 205, 205);
  transform: translateX(-50%);
}

.lobby-main::after {
  content: '';
  position: absolute;
  width: 2.5vw;
  right: 0;
  top: 50%;
  height: 64px;
  background-color: rgb(205, 205, 205);
  transform: translateY(-50%);
}

.lobby-column {
  width: 30.3vw;
}

.lobby-separator-column {
  width: 2.5vw; /* Fixed width for the entire orange column */
  display: flex;
  flex-direction: column;
}

.lobby-colsep-wall-short{
  width: 100%;
  height: 40px;
  background-color: rgb(107, 100, 255);
}

.lobby-colsep-path {
  height: 40px;
  background-color: rgb(205, 205, 205);
}

.lobby-colsep-wall-long {
  width: 100%;
  flex: 1;
  background-color: rgb(107, 100, 255);
}

.lobby-separator-row {
  width: 100%;
  height: 40px;
  background-color: rgb(107, 100, 255);
}

.lobby-room {
  padding: 10px;
  background-color: rgb(205, 205, 205);
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.lobby-games-column {
  display: flex;
  flex-direction: column;
}

.lobby-games-column .lobby-room {
  flex: 1 1 auto;
}

.lobby-game {
  font-size: calc(5px + 1vmin);  
}

.lobby-game-attribute-icon {
  height: calc(10px + 1vmin);
  margin: 0px 5px 5px;
}

.lobby-game-action {
  font-size: calc(5px + 1vmin);  
}

.lobby-chat-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-box {
  overflow-x: auto;
  overflow-anchor: none;  
  flex: 1 1 auto;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

.chat-message {
  font-size: calc(5px + 1vmin);  
  text-align: left;
  padding: 5px;
}

.no-one-modal-content {
  border-color: rgb(107, 100, 255);
  border-width: 10px;
  background-color:rgb(205, 205, 205)
}
