.login-page {
    width: 100vw;
    height: 100vh;
    margin: auto;
    border: 5vh solid rgb(255, 216, 76);
    background-color: rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .login-page::after {
    content: '';
    position: absolute;
    height: 5vh;
    bottom: 0;
    left: 50%;
    width: 64px;
    background-color: rgb(205, 205, 205);
    transform: translateX(-50%);
  }

  
  .login-header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10%; /* Adjust for desired positioning over image */
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive; /* Use a retro or pixel font */
    font-size: 2rem;
    color: black;
    background: transparent;
    padding: 0.5rem;
  }

  .login-error-message {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 30%; /* Adjust for desired positioning over image */
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive; /* Use a retro or pixel font */
    font-size: 2rem;
    color: black;
    background: red;
    padding: 0.5rem;
  
  }

  
  .login-main-image {
    width: auto;
    height: 40%;
    margin-bottom: 2rem;
  }

  .login-form {
    display: flex;
    align-items: center;
  }
  
  .login-accordion-section {
    color: black;
  }

  .login-form-experience {
    font-size: 0.7rem;
    text-align: left;
    margin-left: 16px;
  }

  .login-form-label {
    margin-right: 8px;
  }

  .login-form-field {
    width: 24ch;
  }