
.App {
  text-align: center;
  font-family: 'Px437 IBM BIOS', 'Press Start 2P', monospace; /* Low-res blocky font */
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1000;
}

.titlebar-home {
  color: white;
  cursor: pointer;
}

.titlebar-home svg {
  fill: white;
}

.titlebar-user {
  color: white;
}